<div class="content">
    <h1 class="content-title">Расходы</h1>
    <div id="cardsContainer" class="incomes-cards">
        <div class="card">
            <h3 class="card-title">Еда</h3>
            <div class="actions-btn">
                <a href="#" class="btn btn-primary editBtn">Редактировать</a>
                <a href="#" class="btn btn-danger deleteBtn">Удалить</a>
            </div>
        </div>
        <div class="card">
            <h3 class="card-title">Жильё</h3>
            <div class="actions-btn">
                <a href="#" class="btn btn-primary editBtn">Редактировать</a>
                <a href="#" class="btn btn-danger deleteBtn">Удалить</a>
            </div>
        </div>
        <div class="card">
            <h3 class="card-title">Здоровье</h3>
            <div class="actions-btn">
                <a href="#" class="btn btn-primary editBtn">Редактировать</a>
                <a href="#" class="btn btn-danger deleteBtn">Удалить</a>
            </div>
        </div>
        <div class="card">
            <h3 class="card-title">Кафе</h3>
            <div class="actions-btn">
                <a href="#" class="btn btn-primary editBtn">Редактировать</a>
                <a href="#" class="btn btn-danger deleteBtn">Удалить</a>
            </div>
        </div>
        <div class="card">
            <h3 class="card-title">Авто</h3>
            <div class="actions-btn">
                <a href="#" class="btn btn-primary editBtn">Редактировать</a>
                <a href="#" class="btn btn-danger deleteBtn">Удалить</a>
            </div>
        </div>
        <div class="card">
            <h3 class="card-title">Одежда</h3>
            <div class="actions-btn">
                <a href="#" class="btn btn-primary editBtn">Редактировать</a>
                <a href="#" class="btn btn-danger deleteBtn">Удалить</a>
            </div>
        </div>
        <div class="card">
            <h3 class="card-title">Развлечения</h3>
            <div class="actions-btn">
                <a href="#" class="btn btn-primary editBtn">Редактировать</a>
                <a href="#" class="btn btn-danger deleteBtn">Удалить</a>
            </div>
        </div>
        <div class="card">
            <h3 class="card-title">Счета</h3>
            <div class="actions-btn">
                <a href="#" class="btn btn-primary editBtn">Редактировать</a>
                <a href="#" class="btn btn-danger deleteBtn">Удалить</a>
            </div>
        </div>
        <div class="card">
            <h3 class="card-title">Спорт</h3>
            <div class="actions-btn">
                <a href="#" class="btn btn-primary editBtn">Редактировать</a>
                <a href="#" class="btn btn-danger deleteBtn">Удалить</a>
            </div>
        </div>
        <div class="card">
            <div class="card-plus">+</div>
        </div>
    </div>
</div>