<div class="content">
  <h1 class="content-title">Главная</h1>
  <ul class="header-nav nav nav-pills">
    <li class="nav-item"><a href="#" class="nav-link active">Сегодня</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Неделя</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Месяц</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Год</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Все</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Интервал</a></li>
    <li class="nav-item d-flex justify-content-center gap-2">
      c<a href="#" class="nav-link border-0">Дата</a>
      по<a href="#" class="nav-link border-0">Дата</a>
    </li>
  </ul>
</div>
<section class="main">
  <div class="main-chart">
    <h2>Доходы</h2>
    <canvas id="pie-chart" width="576" height="476"
            style="display: block; box-sizing: border-box; height: 573px; width: 573px;"></canvas>
  </div>
  <div class="main-chart">
    <h2>Расходы</h2>
    <canvas id="pie-chart2" width="576" height="476"
            style="display: block; box-sizing: border-box; height: 573px; width: 573px;"></canvas>
  </div>
</section>
